h1 {color:blue;}

img {border-radius :15%;}

p{font-family: times new roman;}
p {font-size :26px;}
body {background-image: url("0.png");}
.hijau {color:green;}
p {color:white;} 
h2{color:white;}
h2{font-size:30px;}
h1 {font-size:36px;}
h1 {color:white;}
tr{color:white;}
tr{font-size:26px;}